/* Navbar.css */

/* General Styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #151515;
  color: #e8dff5;
}

.navbar .nav-left {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  height: 40px;
  width: 40px;
}

.navbar #delivery-link {
  color: #e8dff5;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #ffe1e9;
  border-radius: 20px;
  padding: 5px 10px;
  max-width: 400px;
  width: 100%;
}

.search-container input {
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  width: 100%;
  font-size: 14px;
  outline: none;
}

.search-container button {
  border: none;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
  color: #141414;
}

.search-container button:hover {
  background-color: #f9c3d1;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-btn {
  color: #141414;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
  margin-left: 10px;
  font-size: 14px;
  background-color: #ffffff;
  transition: background-color 0.3s;
}

.nav-btn:hover {
  background-color: #f9c3d1;
}

.second-navbar {
  display: flex;
  justify-content: center;
  background-color: #dfccf1;
  padding: 10px 0;
}

.second-navbar .nav-item {
  color: #4a0909;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  transition: color 0.3s;
}

.second-navbar .nav-item.active {
  font-weight: bold;
  color: #007bff;
}

.second-navbar .nav-item:hover {
  color: #9e9696;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-container {
    margin-top: 10px;
    width: 100%;
  }

  .nav-right {
    margin-top: 10px;
    width: 100%;
    justify-content: space-around;
  }

  .second-navbar {
    flex-direction: column;
    align-items: center;
  }

  .second-navbar .nav-item {
    display: block;
    padding: 10px 0;
  }
}
